body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #224822;
  color: #333;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

header {
  text-align: center;
  padding: 20px 0;
  background-color: #4CAF50;
  color: white;
}

header h1 {
  margin: 0;
}

.node-selector {
  margin: 20px 0;
  padding: 15px;
  background: #ffffff;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.node-selector label {
  font-weight: bold;
}

button {
  margin-top: 10px;
  padding: 10px 20px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}

.data-display {
  margin: 20px 0;
  padding: 15px;
  background: #ffffff;
  border: 1px solid #ddd;
  border-radius: 5px;
}

pre {
  background: #f4f4f4;
  padding: 10px;
  border-radius: 5px;
  overflow-x: auto;
}

.transaction-form, .mine-block {
  margin: 20px 0;
  padding: 15px;
  background: #ffffff;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.transaction-form label {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
}

.transaction-form input {
  width: 100%;
  padding: 8px;
  margin-bottom: 15px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.transaction-form button {
  width: 100%;
  padding: 10px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.transaction-form button:hover {
  background-color: #45a049;
}

.mine-block button {
  padding: 10px 20px;
  background-color: #4c372b;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.mine-block button:hover {
  background-color: #391e1b;
}

.mine-block p {
  margin-top: 15px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #f9f9f9;
  font-weight: bold;
  text-align: center;
}

.mine-block p:nth-child(2) {
  color: #ff9800; /* Progress */
}

.mine-block p:nth-child(3) {
  color: #4caf50; /* Success */
}

.mine-block p:nth-child(4) {
  color: #f44336; /* Failure */
}
